---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=apples&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 7010a4b704fa4e9580c900922dccafd5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=23</id><updated>2017-05-22T09:15:08Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"apples\" totalResults=\"78200\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">78200</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=24</id><title
        type=\"html\">Commemorative quilt: &lt;b&gt;Apples&lt;/b&gt; of Freedom -
        UK Parliament</title><summary type=\"html\">Commemorative quilt: &lt;b&gt;Apples&lt;/b&gt;
        of Freedom. Fullscreen Opens in a new window; &lt;br&gt;\r\nPrint Opens in
        a new window. Share this page. inShare0. Commemorative quilt:&amp;nbsp;...</summary><updated>2017-05-22T09:15:08Z</updated><link
        rel=\"alternate\" href=\"http://www.parliament.uk/about/living-heritage/transformingsociety/tradeindustry/slavetrade/reflections-and-anecdotes/commemorative-quilt1/commemorative-quilt-apples-of-freedom/\"
      [...]
