---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=fdsfsd&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 7010a4b704fa4e9580c900922dccafd5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text"></title><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=90</id><updated>2017-05-22T09:17:05Z</updated><author><name>parliament.uk</name></author><Query
        role="request" searchTerms="fdsfsd" totalResults="0" count="10" startIndex="1"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">0</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">1</startIndex></feed>
  recorded_at: Mon, 22 May 2017 09:17:04 GMT
recorded_with: VCR 2.9.3
