---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=fdsfsd&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 91d718ce4f074924a12fb8da0959f502
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text"></title><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=1853</id><updated>2017-05-09T20:45:10Z</updated><author><name>parliament.uk</name></author><Query
        role="request" searchTerms="fdsfsd" totalResults="0" count="10" startIndex="1"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">0</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">1</startIndex></feed>
  recorded_at: Tue, 09 May 2017 20:45:13 GMT
recorded_with: VCR 2.9.3
