---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=banana&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 91d718ce4f074924a12fb8da0959f502
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=1865</id><updated>2017-05-09T20:46:10Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"18900\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">18900</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=1866</id><title
        type=\"html\">Trade dispute between the EU and the USA over &lt;b&gt;bananas&lt;/b&gt;</title><summary
        type=\"html\">Mar 12, 1999 &lt;b&gt;...&lt;/b&gt; describes why the EU import
        regime for &lt;b&gt;bananas&lt;/b&gt; arose, ... The EU &lt;b&gt;banana&lt;/b&gt;
        &lt;br&gt;\r\nregime is an attempt to combine obligations to former colonies
        with&amp;nbsp;...</summary><updated>2017-05-09T20:46:10Z</updated><link rel=\"alternate\"
        type=\"application/pdf\" href=\"http://researchbriefings.files.parliament.uk/documents/RP99-28/RP99-28.pdf\"
        /></entry><entry><id>uuid:dcfe32a5-5af4-4348-bc62-bf7c6d2cca1e;id=1867</id><title
        type=\"html\">EU: Trade Agreement on &lt;b&gt;Banana&lt;/b&gt; Imports - Hansard
        Online</title><summary type=\"html\">Feb 7, 2012 &lt;b&gt;...&lt;/b&gt; Most
        &lt;b&gt;bananas&lt;/b&gt; carry a country-of-origin label and you know whether
        you are &lt;br&gt;\r\nbuying Colombian, Costa Rican or Ecuadorian &lt;b&gt;bananas&lt;/b&gt;.
        But fair&amp;nbsp;...</summary><updated>2017-05-09T20:46:10Z</updated><link
        rel=\"alternate\" href=\"https://hansard.parliament.uk/Lords/2012-02-07/debates/12020792000204/EUTradeAgreementOnBananaImports\"
        /></entry><entry><id>uuid:d[...]
