---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=banana&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 7010a4b704fa4e9580c900922dccafd5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=67</id><updated>2017-05-22T09:17:01Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"19400\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">19400</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=68</id><title
        type=\"html\">Trade dispute between the EU and the USA over &lt;b&gt;bananas&lt;/b&gt;</title><summary
        type=\"html\">Mar 12, 1999 &lt;b&gt;...&lt;/b&gt; The EU &lt;b&gt;banana&lt;/b&gt;
        regime is an attempt to combine obligations to former colonies ... &lt;br&gt;\r\nEuropean
        industries having no connection with &lt;b&gt;bananas&lt;/b&gt; are&amp;nbsp;...</summary><updated>2017-05-22T09:17:01Z</updated><link
        rel=\"alternate\" type=\"application/pdf\" href=\"http://researchbriefings.files.parliament.uk/documents/RP99-28/RP99-28.pdf\"
        /></entry><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=69</id><title
        type=\"html\">EU: Trade Agreement on &lt;b&gt;Banana&lt;/b&gt; Imports - Hansard
        Online</title><summary type=\"html\">Feb 7, 2012 &lt;b&gt;...&lt;/b&gt; Most
        &lt;b&gt;bananas&lt;/b&gt; carry a country-of-origin label and you know whether
        you are &lt;br&gt;\r\nbuying Colombian, Costa Rican or Ecuadorian &lt;b&gt;bananas&lt;/b&gt;.
        But fair&amp;nbsp;...</summary><updated>2017-05-22T09:17:01Z</updated><link
        rel=\"alternate\" href=\"https://hansard.parliament.uk/Lords/2012-02-07/debates/12020792000204/EUTradeAgreementOnBananaImports\"
        /></entry><entry><id>uuid:0[...]
