---
http_interactions:
- request:
    method: get
    uri: https://api20170418155059.azure-api.net/search/?q=alert(document.cookie)&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 7010a4b704fa4e9580c900922dccafd5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=2872</id><updated>2017-05-25T10:05:20Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"alert(document.cookie)\" totalResults=\"2990\"
        count=\"10\" startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\"
        /><totalResults xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">2990</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=2873</id><title
        type=\"html\">Government publications (Command Papers) - UK Parliament</title><summary
        type=\"html\">Information about government publications or Command papers.</summary><updated>2017-05-25T10:05:20Z</updated><link
        rel=\"alternate\" href=\"http://www.parliament.uk/about/how/publications/government/\"
        /></entry><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=2874</id><title
        type=\"html\">The Commons Library and its research service - UK Parliament</title><summary
        type=\"html\">News and &lt;b&gt;alerts&lt;/b&gt;. Subscribe to Library email
        &lt;b&gt;alerts&lt;/b&gt; &amp;middot; Commons Library ... &lt;br&gt;\r\nCommons
        ( PDF 16.66 MB) Opens in a new window. Commons Library &lt;br&gt;\r\n&lt;b&gt;document&lt;/b&gt;
        25.</summary><updated>2017-05-25T10:05:20Z</updated><link rel=\"alternate\"
        href=\"https://www.parliament.uk/commons-library\" /></entry><entry><id>uuid:05230c7b-ebe9-4914-8119-933785c86de5;id=2875</id><title
        type=\"html\">Millennials - Commons Library briefing - UK Parliament</title><summary
        type=\"html\">Apr 11, 2017 &lt;b&gt;...&lt;/b&gt; Millennials entered young
        adulthood in the midst of the 2008 financial crisis. The &lt;br&gt;\r\nimpact
        of this on their socio-economic outcomes as they have&amp;nbsp;...</su[...]
